/* Tudo referente a Home */

.fa-square-whatsapp {
    color: var(--verde-whatsapp);
    font-size: 3em;
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.fa-square-whatsapp:hover {
    color: var(--laranja-fonte);
}

.home {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.bars-sidebar {
    cursor: pointer;
}

.fa-bars-staggered {
    color: var(--branco);
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 3em;
    transition: .3s ease;
}

.fa-bars-staggered:hover {
    color: var(--laranja-fonte);
}

.chk-sidebar {
    display: none;
}

.chk-sidebar:checked ~ .sidebar {
    transform: translateX(350px);
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    object-fit: cover;
}

.sidebar {
    position: absolute;
    left: -350px;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--azul-fundo);
    color: var(--bege-fundo);
    transition: .3s ease-out;
}

.sidebar h1 {
    margin: 2em;
    font-size: 2em;
}

.sidebar-lista {
    font-size: 1.5em;
    margin-left: 3em;
    list-style: none;
}

.sidebar-link {
    text-decoration: none;
    color: var(--azul-fonte-sobre);
    transition: .3s ease;
}

.sidebar-link:hover {
    opacity: .6;
}

.close-sidebar {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2em;
    cursor: pointer;
    transition: .3s ease;
}

.close-sidebar:hover {
    color: var(--laranja-fonte);
}

/* Tudo referente ao Sobre */

.sobre {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    color: var(--azul-fonte);
    margin: 0;
    padding: 0;
    background-color: var(--bege-fundo);
    object-fit: cover;
    background-size: cover;
}

.sobre-texto {
    padding: 12em 8em;
}

.sobre-texto h1 {
    font-size: 2em;
    width: 70%;
    font-weight: 600;
    margin-bottom: 1em;
}

.sobre-texto h2 {
    width: 60%;
    font-weight: 300;
    text-align: justify;
}

.sobre strong {
    color: var(--laranja-fonte);
}

.sobre-2 {
    background-color: var(--azul-fundo);
    color: var(--branco);
}

.sobre-2 h1 {
    color: var(--azul-fonte-sobre);
}

/* Banner */

.banner {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(/img/praiaPoster.jpeg);
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 5em;
}

/* Criador */

.sobre-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-height: 70vh;
}

.criador {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 4em;
    width: 50%;
}

.criador img {
    width: 300px;
    border-radius: 50%;
}

.criador h1 {
    font-size: 2em;
}

.criador h2 {
    font-size: 1.25em;
}

/* Contato */

.contato {
    background-color: var(--azul-fonte-sobre);
    display: flex;
    padding: 10em 0 0 10em;
    gap: 10em;
}

.contato h1 {
    font-size: 2em;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .75em;
}

#contact-form input, #contact-form textarea {
    border: none;
    border-bottom: 1px solid var(--azul-fonte);
    background-color: transparent;
}

#contact-form input[type='submit'] {
    border: none;
    background-color: var(--laranja-fonte);
    color: var(--branco);
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

#contact-form input[type='submit']:hover {
    background-color: var(--azul-fonte);
}

.informacoes h1 {
    padding-bottom: 1em;
}

.informacoes ul {
    list-style: none;
    font-size: 1.5em;
}

.informacoes a {
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease;
    color: var(--azul-fonte);
}

.informacoes a:hover {
    color: var(--preto);
}

.redes-sociais {
    padding-top: .5em;
    font-size: 2em;
}

.redes-sociais {
    cursor: pointer;
}