.body-servicos {
    background-color: var(--servico-fundo);
}

#servicos-cabecalho {
    background-color: var(--servico-fundo);
}

.servicos-banner {
    text-align: center;
    color: var(--branco);
    background-color: var(--preto-fosco);
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#linha-servicos {
    border-bottom: 1px solid var(--branco);
}

.servicos-banner__titulo {
    text-transform: uppercase;
    font-size: 3em;
}

.servicos-banner__subtitulo {
    width: 40%;
    text-transform: uppercase;
}

.servicos-banner__img {
    width: 100vw;
    height: 25em;
    object-fit: cover;
    top: 0;
}

.servicos-produtos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--servico-fundo);
}

.servicos__titulo {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 1.5em;
}

.linha {
    border-bottom: 1px solid var(--preto);
    width: 20em;
    margin: 1em auto 2em auto;
}

.servicos-caixas {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 3em;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 9em;
    border-radius: 150px;
    padding: 0;
    text-align: center;
    background-color: var(--preto-fosco);  
    color: var(--branco);
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 1em;
    transition: all .6s;
}

.caixa:hover {
    opacity: .8;
}

#caixa1 {
    background-image: url(/img/editadas-2387.jpeg);
    background-size: cover;
}

#caixa2 {
    background-image: url(/img/editadas-1755.jpeg);
    background-size: cover;
}

#caixa3 {
    background-image: url(/img/editadas-2399.jpeg);
    background-size: cover;
}

.caixa__texto {
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}

.caixa__texto:hover {
    opacity: .7;
}

.servico-produto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto-fosco);
    color: var(--branco);
    padding: 4em 0 3em 0;
}

.servico-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.servico-produto__titulo {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

.servico-produto__texto {
    text-align: center;
    width: 60%;
    height: 30%;
    margin: 1em 0 1em 0;
}

.consulta {
    font-weight: 600;
    background-color: var(--verde-claro);
    padding: .5em 1em;
    border-radius: 10px;
    color: var(--branco);
}

.fa-whatsapp {
    font-size: 2em;
}

#language-selected {
    color: var(--preto-fosco);
}


@media only screen and (max-width: 1024px) {

    .servicos-banner{
        margin-bottom: 2em;
    }

    .servicos-banner__subtitulo {
        display: none;
    }

    #linha-servicos {
        display: none;
    }

    .servicos-banner__img {
        display: none;
    }

    .servicos__titulo {
        margin-top: 0;
        padding-top: 0;
    }

    .servicos-caixas {
        flex-direction: column;
    }

    .caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9em;
        height: 9em;
        border-radius: 150px;
        padding: 0;
    }

    .servico-produto-container {
        flex-direction: column;
    }

    .servico-produto__titulo {
        width: 80%;
    }

    #infos-rodape-servicos {
        padding-top: 2em;
    }

}
