.body-sobre {
    background-color: var(--servico-fundo);
}

#sobre-cabecalho {
    background-color: var(--servico-fundo);
}

.sobre-banner {
    background-color: var(--preto-fosco);
    color: var(--branco);
    text-align: center;
    padding: 3em 0;
    font-size: 2em;
}

.sobre-servicos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-banner__titulo {
    text-transform: uppercase;
}

#linha-servicos {
    border-bottom: 1px solid var(--branco);
    margin-bottom: 1em;
}

#sobre-banner__praia {
    background-image: url(/img/editadas-2388.jpeg);
    background-size: cover;
    font-weight: 900;
}

.sobre-banner__subtitulo {
    width: 40%;
    text-transform: uppercase;
    font-size: .8em;
}

.sobre-tatajuba {
    text-align: center;
}

.sobre-tatajuba__titulo {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 2em;
}

.linha {
    border-bottom: 1px solid var(--preto);
    width: 20em;
    margin: 1em auto 2em auto;
}

.sobre-tatajuba__texto {
    width: 40%;
    margin: 0 auto 2em auto;
}

.sobre-tatajuba__img {
    margin-top: 2em;
    width: 100vw;
    height: 25em;
    object-fit: cover;
}

.sobre-servicos__titulo {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 1.5em;
}

.sobre-servicos-caixas {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 1em;
}

.caixa {
    text-align: center;
    background-color: var(--preto-fosco);
    padding: 8em 3em;
    color: var(--branco);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 1.2em;
}

.sobre-copyright {
    padding-bottom: 1em;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    .sobre-banner {
        display: none;
    }

    .sobre-tatajuba__titulo {
        margin: 0;
    }

    .sobre-tatajuba__texto {
        width: 80%;
        margin: 0 auto 2em auto;
    }

    .sobre-tatajuba__img {
        width: 100vw;
        margin-bottom: 5em;
    }

    .sobre-servicos-caixas {
        flex-direction: column;
        margin: 2em 0 2em 0;
    }

    .caixa {
        width: 90%;
    }

    .historia {
        margin: 0 auto 0 auto;
    }

    #sobre-banner__praia {
        display: block;
        margin-bottom: 1em;
    }

}
