@import url(/css/home.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --vermelho: #f00;
    --verde: rgb(99, 204, 0);
    --azul: #00f;
    --preto-fosco: #241F1F;
    --verde-claro: rgba(30, 255, 0, 0.26);
    --fonte-home: #ffffff;
    --servico-fundo: #dcc9b8;
    --verde-escuro: rgb(66, 177, 2);
    --branco-language: #f8f8f8;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

.whatsapp-link {
    color: var(--verde);
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    transition: all .5s;
}

.whatsapp-link:hover {
    color: var(--verde-escuro);
}

.home-cabecalho-mobile {
    list-style: none;
}

/* Tradutor */

.language {
    position: absolute;
    top: 20px;
    right: 40px;
    text-align: center;
}

.language-selected {
    color: var(--branco);
    cursor: pointer;
    margin-bottom: .5em;
}

.language ul {
    list-style: none;
    background-color: var(--branco);
    padding: .5em 1em;
    border: 1px solid var(--branco-language);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    font-weight: 500;
    display: none;
    border-radius: 10px;
}

.language ul li:hover {
    background-color: var(--branco-language);
}

.language ul li a {
    color: var(--preto-fosco);
    text-decoration: none;
    padding-top: 5px 10px;
}

.language:hover ul {
    display: block;
}

.language-mobile {
    display: none;
}   

@media only screen and (max-width: 1024px) {

    .language {
        display: none;
    }

    .language-mobile {
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
        text-align: center;
        font-weight: 500;
    }

    .language-mobile-selected {
        background-color: var(--preto-fosco);
        padding: .5em 1em;
        border-radius: 30px;
    }

    .language-mobile ul {
        list-style: none;
    }

    .language-mobile ul li:hover {
        background-color: var(--branco-language);
        padding: .2em;
    }

    .language-mobile ul li a {
        color: var(--preto-fosco);
        text-decoration: none;
    }

}
